<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @guitar.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guitar.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @guitar.url %>
</p>

<%= link_to 'Edit', edit_guitar_path(@guitar) %> |
<%= link_to 'Back', guitars_path %>
